<a href="/publish/add">Añadir</a>

{{#each homes}}
<h2>{{hostRequest}}</h2><a href="/publish/eliminar/{{_id}}">Eliminar</a>
{{#each homeImages}}
<img src="{{this}}">
{{/each}}
<p>{{location}}</p>
<p>{{address}}</p>
<p>{{statusRequest}}</p>
<ul>
{{#each services}}

<li>{{this}}</li>

{{/each}}
</ul>

{{#if guest}}
<p>{{guest.username}}</p>
<p>{{guest.phoneNumber}}</p>
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Aceptar</a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Denegar</button>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        ¿Está usted seguro de qué quiere aceptar esta reserva? Cuando acepte se remitirá a los términos de uso de la aplicación. <a href="/publish/aceptar/{{_id}}">Aceptar</a> 
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
        ¿Está usted seguro de qué quiere cancelar esta reserva? Cuando cancele se eliminará la petición del usuario. <a href="/publish/denegar/{{_id}}">Denegar</a>
      </div>
    </div>
  </div>
</div>

{{/if}}

{{/each}} 
