
<div class="mt-3 text-center mx-auto">
<a class="btn btn-lg w-25 ml-auto btn-success mb-4" href="/publish/add" style="background: #46a1de;border-color: #46a1de;">Añadir</a>
</div>

<div class="d-flex flex-column justify-content-center align-items-center w-100 mx-auto">
{{#each homes}}
<div class="card p-2 m-2" style="width: 50rem;">



<h2 class="card-title mx-auto">{{hostRequest}}</h2>

{{#each homeImages}}
<img class="card-img-top" src="{{this}}">
{{/each}}


<p class="card-text">{{location}}</p>
<p class="card-text">{{address}}</p>
<p class="card-text">{{statusRequest}}</p>
<div>
<ul> <h4>Servicios disponibles</h4>
{{#each services}}

<li class="card-text">{{this}}</li>

{{/each}}
</ul>
</div>
<a class="btn btn-danger w-25 mx-auto" href="/publish/eliminar/{{_id}}">Eliminar</a>


{{#if guest}}
<p>{{guest.username}}</p>
<p>{{guest.phoneNumber}}</p>
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Aceptar</a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Denegar</button>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        ¿Está usted seguro de qué quiere aceptar esta reserva? Cuando acepte se remitirá a los términos de uso de la aplicación. <a href="/publish/aceptar/{{_id}}">Aceptar</a> 
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
        ¿Está usted seguro de qué quiere cancelar esta reserva? Cuando cancele se eliminará la petición del usuario. <a href="/publish/denegar/{{_id}}">Denegar</a>
      </div>
    </div>
  </div>
</div>

{{/if}}
</div>

{{/each}} 

</div>



