<h2>{{home.hostRequest}}</h2>

{{#each home.homeImages}}
<img src="{{this}}">
{{/each}}

<p>{{home.location}}</p>
<p>{{home.address}}</p>

<ul>
{{#each home.services}}
<li>{{this}}</li>
{{/each}}
</ul>

<form action="/bookings/booking/{{home._id}}" method="post">
<button type="submit">Solicitar reserva</button>
</form>