<h1>TUS RESERVAS</h1>
{{#each mybookings}}

{{#each homeImages}}
<img src="{{this}}">
{{/each}}
<p>{{hostRequest}}</p>
<p>{{address}} {{location}}</p>
<p>{{statusRequest}}</p>
<ul>
{{#each services}}
<li>{{this}}</li>
{{/each}}
</ul>
<a href="/bookings/cancelar/{{_id}}">Cancelar reserva</a>
{{/each}}


